/* *********************************start main style for contact page************************************* */
#contactInfo{
    width: 60%;
    margin: 20px auto;
    text-align: center;
}
#contactInfo fieldset{
    border: 2px solid #000;
    font-size: 20px;
    padding: 5px;
    color: rgb(99, 41, 99);
    border: 2px solid rgb(179, 47, 161);
}
#contactInfo fieldset legend{
    border: 2px solid #000; 
    margin: 20px;
    padding: 7px;
    background-color:#411632 ;
    color: rgb(243, 131, 243);
}



/* *********************************end main style for contact page************************************* */
